/* Common styles */
h1 {
    color: #F0CAA3;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

hr { 
    color: #F0CAA3;
    height: 3px;
    z-index: 3;
}

/*** INDEX.HTML ***/
/* Format for the Introduction/Header */
.container {
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
.content {
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
}

.header-container {
    background-color: #00005C;
    height: 100vh; /* Adjust height as needed */
}

.header-img {
    width: 100%; /* Adjust image width */
    margin: 1rem 0; /* Add space above image */
    
    
}
.img-container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center;
}

.name-intro {
    font-size: 6rem;
    font-family: "Satisfy", cursive;
    margin-bottom: 1rem; /* Adjust space below the name */
}

.name-intro-subtext {
    font-size: 1.35rem;
    font-family: "Satisfy", cursive;
    font-style: italic;
    color: #F0CAA3;
}

.content-wrapper {
    background-color: #F0CAA3;
    width: 130%;
    max-width: 120%;
    margin: 0 -5% auto; /* Adjust the negative margin to shift it slightly left */
    padding: 0 20px;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    flex-direction: column; /* Align children in a column */
}


.intro-about{
    text-align: left;
}
.intro-about h2 {
    text-align: center;
    padding: 6% 0;
    font-family: "Patrick Hand", cursive;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    /* CSS rules specific to mobile devices */
    /* For example, you can adjust font size, padding, or layout */
    body {
        font-size: 14px;
    }
    .content-wrapper {
        width: 100%;
    }
    /* Add more CSS rules as needed */
}


/* Navigation Bar Design */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

nav {
    max-width: 960px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 2% 0;
}

nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform: uppercase;
    /*color: #rgba(0, 35, 122, 0.5);*/
    color: #F0CAA3;
    font-size: 18px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
}




/*** CONTACT.HTML ***/
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
/*** Footer ***/
.footer{
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}




/*** STORY.HTML ***/

/* General styling */
#story {
    background-color: #00005C;
    width: 99vw;
    
}
.story-h1 {
    text-align: center;
    font-size: 2.5rem;
    width: 80vw;
}


.languages {
    padding: 6%;
    width: 95vw;
    color: #F0CAA3;
}

.html {
    background-color: #C060A1;
    padding: 6%;
    border: black solid 5px;
    text-align: right;
    margin-right: 10% !important;
}

.languages-img{
    width: 85%;
}
.row-languages{
    padding: 6%;
    border: black solid 5px;
}
.css {
    background-color: #F0CAA3;
    border: black solid 5px;
    color: black;
    text-align: left;
    margin-left: 10% !important;
}
.css-h1{color: black;}


.js {
    background-color: #C060A1;
    text-align: right;
    margin-right: 10% !important;
}

.cSharp{
    background-color: #F0CAA3;
    border: black solid 5px;
    color: black;
    text-align: left;
    margin-left: 10% !important;
}
.container-story-h3{
    background-color: #F0CAA3;
    text-align: left;
    padding: 3% 7% 3% 6%;
    border: solid black 4px;
}

.inspirtion-bg{
    background-color: #00005C;   
}
.inspirtion {
    background-color: #C060A1;
    color: #F0CAA3;
    width: 85vw;
    margin-left: 5%;
    margin-top: 2.5%;
    padding: 4% 4% 1% 4%;
    border: solid black 4px;
}


.progression {
    color: black;
    background-color: #F0CAA3;
    padding-top: 3%;
    border: solid black 4px;
}
.projects {
    margin-bottom: 15% !important;
    border: solid black 4px;
}



/*** ABOUT . HTML ***/
#about {
    background-color: #00005C;
    color: #00005C;
}
.about-h1{
    color:#00005C;
}

.about{
    width: 85vw;
    height: 60vh;
    margin-left: 8%;
    background-color: #F0CAA3;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
}


/*** SPORTS HTML ***/
.sports-img{
    width: 25%;
}